@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #f2994a;
    --primary-color-dark: #d48540;
    --secondary-color: #481911;
    --text-dark: #1c1917;
    --text-light: #57534e;
    --extra-light: #d6d3d1;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Noto Serif", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    min-height: 75vh;
    background-image: url("assets/header-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo img {
    max-width: 110px;
}

.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}

.nav__links.open {
    transform: translateY(100%);
}

.nav__links a {
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}

.nav__links a:hover {
    color: var(--text-dark);
}

.header__container h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--white);
    text-align: center;
}

.header__container p {
    margin-bottom: 2rem;
    line-height: 1.75rem;
    color: var(--white);
    text-align: center;
}

.header__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__btns .btn {
    min-width: 150px;
}

.header__btns .btn:nth-child(2) {
    border-color: var(--white);
    background-color: transparent;
}

.header__btns .btn:nth-child(2):hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}